html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/layout.css')
    link(rel='stylesheet', href='stylesheets/codemirror.css')
    link(rel='stylesheet', href='stylesheets/merge.css')
    link(rel='stylesheet', href='stylesheets/eclipse.css')  
    script(src='scripts/http-client.js')    
    script(src='scripts/merge/codemirror.js')   
    script(src='scripts/merge/dep/diff_match_patch.js')
    script(src='scripts/merge/merge.js')
    script(src='scripts/visual.js')
    script(src='scripts/minigrace.js')
  body.horizontal
    nav#left-sidebar-states.vertical.no-select.fill-height
      header.header.horizontal
        a.backToEditor.button(href='/',style='color: #b58900;')
          ← Back To Editor
        .fill
      input#upload-input(type='file', multiple='')
      ul#file-tree-vis.fill
        for file in files
          li.filestate.grace.ui-draggable(data-name="#{file.id}")
            .file-name(data-id="#{file.id}" data-content="#{file.content}" data-previous="#{file.previous}") #{file.created}
        else
          li No files detected.
      #version
    #left-sidebar-resize.no-select
    #grace-view.view.fill.fill-height(style='display: flex; flex-direction: column;')
      section.vertical.fill.no-select
        header.header.horizontal
          p Current View
          .fill
          .fill
          .fill
          p Code History of 
            span#file-name #{fileToViz}
          .fill
          .fill
          .fill
           p Next View
        header.header.horizontal.editor(style='display:none')
          .fill
          .back.button
            span.icon ⇦
            span.label Back
          .fill
          .forward.button
            span.label Forward
            span.icon ⇨
          .fill
        #editor-diff.editor.fill(style='position: relative;')
      .feedbacks
        section#feedback0.feedback.fill.vertical
          .compilation.no-select
            header.header.horizontal.waiting
              .run.button.fill
                span.label.run Run                         
                span.icon &#x25B6;                     
              .build.fill.button
                span.label.build Build                         
                span.icon &#x2692;                     
              .wait.fill
                span.label Building
                span.dots ...                     
              .stop.button.fill
                span.label.stop Stop                         
                span.icon &#x25A0;
          pre.output.fill.
        section#feedback1.feedback.fill.vertical
          .compilation.no-select
            header.header.horizontal.waiting
              .run.button.fill
                span.label.run Run                         
                span.icon &#x25B6;                     
              .build.fill.button
                span.label.build Build                         
                span.icon &#x2692;                     
              .wait.fill
                span.label Building
                span.dots ...                     
              .stop.button.fill
                span.label.stop Stop                         
                span.icon &#x25A0;
          pre.output.fill.
