html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/layout.css')
    link(rel='stylesheet', href='stylesheets/codemirror.css')
    link(rel='stylesheet', href='stylesheets/merge.css')  
    script(src='scripts/http-client.js')    
    script(src='scripts/merge/codemirror.js')   
    script(src='scripts/merge/dep/diff_match_patch.js')
    script(src='scripts/merge/merge.js')
    script(src='scripts/visual.js')
  body.horizontal
    nav#left-sidebar-states.vertical.no-select.fill-height
      header.header.horizontal
        a.backToEditor.button(href='/',style='color: #b58900;')
          ← Back To Editor
        .fill
      input#upload-input(type='file', multiple='')
      ul#file-tree-vis.fill
        for file in files
          li.filestate.grace.ui-draggable(data-name="#{file.id}")
            .file-name(data-id="#{file.id}" data-content="#{file.content}" data-previous="#{file.previous}") #{file.created}
        else
          li No files detected.
      #version
    #left-sidebar-resize.no-select
    #grace-view.view.vertical.fill.fill-height
      section.open-file.vertical.fill.no-select      
        header.header.horizontal
          p Current View
          .fill
          .fill
          .fill
          p Code History of #{fileToViz}
          .fill
          .fill
          .fill
           p Next View
        header.header.horizontal.editor(style='display:none')
          .fill
          .back.button
            span.icon ⇦
            span.label Back
          .fill
          .forward.button
            span.label Forward
            span.icon ⇨
          .fill
        #editor-diff.editor.fill.fill-width
        
        
